<section id="{{ component.scroll_anchor_id }}" class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-10">
                <div class="section-title mb-60">
                    <h2 class="mb-20">{{ component.headline }}</h2>
                    <p>{{ component.subheadline }}</p>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="row">
                    {% for feature in component.features %}
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature">
                            <div class="feature-icon">
                                <img src="{{ feature.icon }}">
                            </div>
                            <div class="feature-content">
                                <h4>{{ feature.headline }}</h4>
                                <p>{{ feature.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
