{% extends 'content/base.html' %}

{% block title %}{{ page.fields.seo.title }}{% endblock %}
{% block description %}{{ page.fields.seo.description }}{% endblock %}

{% block main %}
    <!-- ========================= Body components ========================= -->
    {% if page %}
        {% for component in page.fields.body %}
            {% include component.template_name with component=component.fields component_name=component.type %}
        {% endfor %}
    {% endif %}

    {% if blog_posts %}
        {% include "content/partials/blog-posts.html" %}
    {% endif %}
    <!-- ========================= Body components end ========================= -->
{% endblock %}
